@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,300;1,900&display=swap');

:root {
  --black: #000;
  --white: #fff;
  --gold: #e0b078;
  --light-gray: #676767;
  --dark-gray: #404141;
}

body {
  padding: 0;
  margin: 0;
  font-family: Lato, sans-serif;
  /* background-color: #181b1a; */
  background-image: linear-gradient(
      rgba(21, 25, 26, 0.7),
      rgba(21, 25, 26, 0.7)
    ),
    url('/bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  backdrop-filter: sepia(90%);
  color: var(--white);
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  padding: 0 2rem;
}

.container_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mt-mb-1 {
  margin: 1rem 0;
}

.gradientColor {
  background: rgb(164, 119, 67);
  background: linear-gradient(
    135deg,
    rgba(164, 119, 67, 1) 6%,
    rgba(216, 169, 114, 1) 20%,
    rgba(224, 176, 120, 1) 32%,
    rgba(164, 119, 67, 1) 44%,
    rgba(184, 138, 85, 1) 62%,
    rgba(223, 175, 119, 1) 88%
  );
}

.gradientViernes {
  background: rgb(125, 66, 123);
  background: linear-gradient(
    135deg,
    rgba(125, 66, 123, 1) 6%,
    rgba(159, 97, 156, 1) 20%,
    rgba(193, 129, 190, 1) 32%,
    rgba(125, 66, 123, 1) 44%,
    rgba(159, 97, 156, 1) 62%,
    rgba(193, 129, 190, 1) 88%
  );
}

.bg_btn_viernes {
  background-color: rgba(159, 97, 156, 1);
}
.gradientSabado {
  background: rgb(56, 59, 104);
  background: linear-gradient(
    135deg,
    rgba(56, 59, 104, 1) 6%,
    rgba(92, 93, 141, 1) 20%,
    rgba(130, 130, 181, 1) 32%,
    rgba(56, 59, 104, 1) 44%,
    rgba(130, 130, 181, 1) 62%,
    rgba(169, 168, 221, 1) 88%
  );
}

.bg_btn_sabado {
  background-color: rgba(92, 93, 141, 1);
}

.posters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

@media (min-width: 768px) {
  .posters {
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
  }
}

.poster_banner_1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('/peopleParty1.jpg');
  background-size: cover;
  height: 7.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}

.poster_banner_2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('/peopleParty2.jpg');
  background-size: cover;
  height: 7.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}
