.header_container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .header_container {
    flex-direction: row;
    justify-content: space-between;
  }
}

.header_navigation {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

@media (min-width: 768px) {
  .header_navigation {
    margin-top: 0;
  }
}

.header_aButton {
  /* background: rgb(164, 119, 67);
  background: linear-gradient(
    135deg,
    rgba(164, 119, 67, 1) 6%,
    rgba(216, 169, 114, 1) 20%,
    rgba(224, 176, 120, 1) 32%,
    rgba(164, 119, 67, 1) 44%,
    rgba(184, 138, 85, 1) 62%,
    rgba(223, 175, 119, 1) 88%
  ); */
  color: var(--black);
  font-size: 0.85rem;
  font-weight: 700;
  padding: 0.3rem 3rem;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}
