.banner {
  background-image: linear-gradient(
      rgba(74, 42, 30, 0.7),
      rgba(74, 42, 30, 0.7)
    ),
    url('../public/img/peopleHeader.jpg');
  background-size: cover;
  font-weight: 900;
  font-size: 0.9rem;
  text-align: center;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

@media (min-width: 768px) {
  .banner {
    height: 17rem;
  }
}

.banner_buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}
@media (min-width: 768px) {
  .banner_buttons {
    flex-direction: row;
    justify-content: space-between;
    gap: 5rem;
  }
}

.banner_aButton {
  /* color: var(--black); */
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.5rem 2rem;
  width: 10rem;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}

.eventos_title {
  margin: 1.8rem 0;
  text-align: center;
}
