.poster_container {
  padding: 0.8rem;
  width: 12rem;
  border-radius: 0.8rem;

  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
}

.poster_top_text {
  padding: 0;
  font-size: 1.2rem;
  font-weight: 700;
}

.poster_bottom_text {
  color: var(--gold);
  font-size: 1rem;
  font-weight: 900;
}

.poster_bottom_text span {
  font-weight: 400;
}

.poster_aButton {
  margin-top: 1rem;
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  padding: 0.5rem 3rem;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}
